# PostgreSQL
PSQL_DB_USER=db-prod-user
PSQL_DB_PASSWORD=db-prod-user-strong-pass
PSQL_DB_NAME=vouchers-db-prod

# MongoDB
MONGO_USER=mongo-user
MONGO_PASSWORD=mongo-strong-pass
MONGO_DB_NAME=reports-db

# App Config
THROTTLE_TTL=1000
THROTTLE_LIMIT=100